# Visual Studio / .NET
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
**/Properties/launchSettings.json

# Logs / env
logs/
*.log
.env

# Windows reserved device name
nul

# Visual Studio / .NET
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
**/Properties/launchSettings.json
